@import '../../_css/common';


.card {

  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  width: 100%;


  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  margin: 0;

  font-size: 20px;
  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.priceActions {
  gap: var(--base);
}

.price {
  font-weight: 600;
  margin: 0;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  margin: 0;

  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;

  min-height: 262px;
  background-color: var(--color-dark-50);
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;

}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }

}


@import '../../_css/common.scss';

.item {
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  padding: 24px 0;
  gap: 24px;
  border-bottom: 1px solid var(--color-dark-50);
}

.mediaWrapper {
  position: relative;
  min-height: 100px;
  padding: 16px;
  background-color: var(--color-dark-50);
}

.media {
  position: relative;
  height: 100%;
}

.image {
  object-fit: contain;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.itemDetails {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  align-items: center;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.titleWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  h6 {
    line-height: 20px;
    margin-bottom: 8px;
  }
}

.quantity {
  border: 1px solid var(--color-dark-500);
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  border-radius: 10px;
  align-items: center;
  height: 45px;
  width: 100%;
  max-width: 240px;
}

.quantityBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.quantityInput {
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

.subtotalWrapper {
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 100%;


//   @include small-break {
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: end;
//   }
}