@import '../../_css/queries.scss';

.home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;

    @include mid-break {
        gap: 40px;
    }
}

.gridContainer {
  display: grid;
  gap: 2rem;

  max-width: 80rem; // Equivalent to Tailwind's max-w-5xl
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
